<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/stylesheet.css">
  <script src="../static/js/myJS.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <nav id="mainHeaderNav" class="navbar navbar-expand-lg fixed-top navbar-light shadow p-3 mb-5 rounded">
    <a class="navbar-brand" href="https://vgrinthal.github.io">
        <img src="../static/includes/logoTransparent1.png" width="125" height="70" alt="" loading="lazy" >
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div id="NavMenu" class="collapse navbar-collapse">
    <ul class="navbar-nav inline ml-auto">
      <li class="nav-item" id="MenuLinks">
        <a class="nav-link" href="https://vgrinthal.github.io/Design.html/">Graphic Design</a>
      </li>
      <li class="nav-item" id="MenuLinks">
        <a class="nav-link" href="https://vgrinthal.github.io/Technology.html/">Coding and Technology</a>
      </li>
      <li class="nav-item" id="MenuLinks">
        <a class="nav-link" href="https://vgrinthal.github.io/Contact.html"/>Contact</a>
      </li>
    </ul>
</div>
</nav>
<body>
<div class="position-relative overflow-x-hidden" style="background-color: #E2C9F2; width:100%; height:auto;">
       <img src="../static/includes/GraphicDesignUpdate.png" style="width:100%; height: auto;">   
</div>
<div id="mainText" class="position-relative overflow-x-hidden">
  <h1 style="text-align: center;">Graphic Design Works</h1>
  <div id="designCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-keyboard="true">
    <ol class="carousel-indicators">
      <li data-target="#designCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#designCarousel" data-slide-to="1"></li>
      <li data-target="#designCarousel" data-slide-to="2"></li>
     <!--  <li data-target="#designCarousel" data-slide-to="3"></li>
      <li data-target="#designCarousel" data-slide-to="4"></li>
      <li data-target="#designCarousel" data-slide-to="5"></li>
      <li data-target="#designCarousel" data-slide-to="6"></li>
      <li data-target="#designCarousel" data-slide-to="7"></li>
      <li data-target="#designCarousel" data-slide-to="8"></li>
      <li data-target="#designCarousel" data-slide-to="9"></li>
      <li data-target="#designCarousel" data-slide-to="10"></li> -->
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
          <div class="view">
            <img class="d-block w-100 img-fluid" src="../static/includes/Slideshow/Design1.png" alt="First slide">
            <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <p>Logo for the inaugural Women in Science and Computing Conference, which was held by Adelphi University on December 10, 2019 - Adobe Photoshop, Fall 2019.</p>
          <p><a href="https://wsc.adelphi.edu/">Learn More on the Adelphi WSC Conference</a></p>
          </div>
      </div>
      <div class="carousel-item">
          <div class="view">
            <img class="d-block w-100 img-fluid" src="../static/includes/Slideshow/Design2.png" alt="Second slide">
              <div class="mask rgba-black-light"></div>
            </div>
          <div class="carousel-caption d-none d-md-block">
            <p>Editorial Illustration for a poverty-focused article in the New York Times, Adobe Photoshop, Spring 2019.</p>
        </div>
      </div>
        <div class="carousel-item">
          <div class="view">
            <img class="d-block w-100 img-fluid text-lg-center" src="../static/includes/Slideshow/Design3.png" alt="Third slide"> 
            <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <p>Infographic spread project focusing on the topic of financial literacy in education, Adobe InDesign, Spring 2019.</p>
            <p><a href="../static/includes/Slideshow/Design3Full.pdf">View all pages via PDF</a></p>
          </div>
       </div>
    </div>
      <a class="carousel-control-prev" href="#designCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#designCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>  
<footer class="footer bg-dark">
    <div class="bg-dark" id="footerContent">
      <a class="navbar-brand" href="https://vgrinthal.github.io">
        <img src="../static/includes/logoTransparent1.png" width="125" height="70" alt="Victoria Grinthal Logo" loading="lazy" >
      </a>
      <p class="text-white p">All graphics and pieces on this site are the property of Victoria Grinthal. Please contact for job openings and usage of said works, but do not claim them for your own. Thank you so much!</p>
    </div>
  </footer>
</body>
<!-- <footer class="footer bg-dark">
    <div class="bg-dark" id="footerContent">
      <a class="navbar-brand" href="https://vgrinthal.github.io">
        <img src="../static/includes/logoTransparent1.png" width="125" height="70" alt="Victoria Grinthal Logo" loading="lazy" >
      </a>
      <p class="text-white p">All graphics and pieces on this site are the property of Victoria Grinthal. Please contact for job openings and usage of said works, but do not claim them for your own. Thank you so much!</p>
    </div>
  </footer> -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>