<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
	<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #D7AEF2">
		<div class="container-fluid">
			<a class="navbar-brand" href="https://vgrinthal.github.io">
 					<img src="../static/includes/logoTransparent1.png" width="100" height="70" alt="" loading="lazy" >
				</a>
		</div>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://vgrinthal.github.io/Design.html/">Graphic Design</a>
          <a class="dropdown-item" href="https://vgrinthal.github.io/Technology.html/">Coding and Technology</a>
          <a class="dropdown-item" href="https://vgrinthal.github.io/Contact.html"/>Contact</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</nav>
<body>
	<p>hi</p>
</body>
<footer>
	<nav class="page-footer font-small black">
		<div class="container-fluid">
			<a class="navbar-brand" href="https://vgrinthal.github.io">
				<img src="../static/includes/logoTransparent1.png" width="125" height="100" alt="" loading="lazy" >
			</a>
			<p>All graphics and pieces on this site are the property of Victoria Grinthal. Please contact for job openings and usage of said works, but do not claim them for your own. Thank you so much!</p>
		</div>
	</nav>
</footer>
</html>
