<!DOCTYPE html>
<head>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
</head>
	<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="https://vgrinthal.github.io">
					<img src="/static/includes/logoTransparent1.png">
				</a>
			</div>
		</div>
	</nav>
<body>
</body>
<footer>
	<nav class="page-footer font-small black">
		<div class="container-fluid">
			<a class="navbar-brand" href="https://vgrinthal.github.io">
				<img src="/static/includes/logoTransparent1.png">
			</a>
			<p>All graphics and pieces on this site are the property of Victoria Grinthal. Please contact for job openings and usage of said works, but do not claim them for your own. Thank you so much!</p>
		</div>
	</nav>
</footer>
</html>
