<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../static/stylesheet.css">
	<script src="../static/js/myJS.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
	<nav id="mainHeaderNav" class="navbar navbar-expand-lg fixed-top navbar-light shadow p-3 mb-5 rounded">
		<a class="navbar-brand" href="https://vgrinthal.github.io">
 				<img src="../static/includes/logoTransparent1.png" width="125" height="70" alt="" loading="lazy" >
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

  <div id="NavMenu" class="collapse navbar-collapse">
    <ul class="navbar-nav inline ml-auto">
      <li class="nav-item" id="MenuLinks">
        <a class="nav-link" href="https://vgrinthal.github.io/Design.html/">Graphic Design</a>
      </li>
      <li class="nav-item" id="MenuLinks">
        <a class="nav-link" href="https://vgrinthal.github.io/Technology.html/">Coding and Technology</a>
      </li>
      <li class="nav-item" id="MenuLinks">
        <a class="nav-link" href="https://vgrinthal.github.io/Contact.html"/>Contact</a>
      </li>
    </ul>
</div>
</nav>
<body>
<div class="position-relative overflow-x-hidden" style="background-color: #E2C9F2; width:100%; height:auto;">
       <img src="../static/includes/CodingTech1.png" style="width:100%; height: auto;">   
</div>
<div id="mainText" class="position-relative overflow-x-hidden container-fluid">
	<div id="Cards">
		<h1 style="text-align: center;">Technology Projects</h1>
		<div class="card" style="width: 50%;">
  			<img class="card-img-top" src="../static/includes/Slideshow/Design11.png" alt="Card image cap">
 			 <div class="card-body">
  			<h5 class="card-title" style="text-align: center">FAVEART for OnWords</h5>
    		<p class="card-text">This project, co-developed by myself and fellow Adelphi alum <a href="https://www.fablihahossain.com">Fabliha Hossain</a>, was a collaboration with Shoshanah Tarkow for the purpose of illustrating text in the real world.</p>
    		<a class="btn btn-outline-secondary" style="align: center;" href="https://github.com/FablihaHossain/FAVEART-For-OnWords">View on GitHub</a>
  		</div>
  		<div class="card" style="width: 50%;">
	</div>
		<h1>Notable Projects</h1>
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><a href="https://vgrinthal.github.io/Technology.html/#faveart">FAVEART for OnWords</a><br /> Reported seperately by <a href="https://www.adelphi.edu/news/adelphi-2020-computer-science-graduates-develop-text-based-augmented-reality-web-app/">Adelphi University</a> and <a href="https://www.innovateli.com/reality-writes-classic-literature-now-augmented/">InnovateLI.com</a>
	</div>
</div>
</body>
<footer class="footer bg-dark">
		<div class="bg-dark" id="footerContent">
			<a class="navbar-brand" href="https://vgrinthal.github.io">
				<img src="../static/includes/logoTransparent1.png" width="125" height="70" alt="Victoria Grinthal Logo" loading="lazy" >
			</a>
			<p class="text-white p">All graphics and pieces on this site are the property of Victoria Grinthal. Please contact for job openings and usage of said works, but do not claim them for your own. Thank you so much!</p>
		</div>
	</footer>
</html>
